

.nav-div{
color: aliceblue
}
.form-contener{
        width: 90vw;
        /* height: 100vh; */
}

.add-procust-heading{
        width: 90vw;
        display: flex;
        justify-content: center;
}
.form-group input{
border-color: black;
}
.card-contener{
        width: 100vw;
        height: 100%;
}
